<% @movies.each do |movie| %>
    <section class="movie">
        <div class="image">
            <%= image_tag movie.image_file_name %>
        </div>
        <div class="summary">
            <h2>
                <%= link_to(movie.title, movie_url(movie)) %>
            </h2>
            <h3>
                Rating - <%= movie.rating %>, <%= verdict(movie) %>
            </h3>   
            <span class="stars">
                <%= average_stars(movie) %>
            </span>     
            <p>
                <%= truncate(movie.description, length:100, separator: ' ') %>
            </p>
            <p>
                Released on: <%= movie.released_on.strftime("%d %B, %Y") %>
            </p>
        </div>
    </section>
<% end %>
<% if user_login && current_user_admin?  %>
    <section class="admin">
        <%= link_to "Add new Movie", new_movie_path, class:"button" %>
    </section>
<% end  %>